* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/* Phil */

header {
  background-image: url(bgk-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  display: flex;
  justify-content: center;
}

#header_container {
  width: 940px;
  height: 670px;
}

#header_container li,
#header_container h1,
#header_container p {
  color: white;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_content_container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 70%;
  align-items: center;
  text-align: center;
  max-width: 85%;
}

#header_content_container p {
  padding: 15px;
  font-weight: 200;
}

#logo_container {
  width: 30%;
  display: flex;
  align-items: center;
}

#logo {
  height: 60px;
}

#logo_container p {
  font-size: 2.5em;
  font-weight: 100;
  padding-left: 10px;
  color: aqua;
}

#navigation_container {
  width: 70%;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

article h1 {
  padding: 15px;
  font-family: Playfair Display;
}

hr {
  color: aqua;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}

header button,
#team button,
#story_text button {
  margin-top: 20px;
  padding: 10px 15px;
  color: aqua;
  border: 2px solid;
  border-radius: 3px;
  background-color: rgba(240, 255, 255, 0);
}

header button:hover,
#team button:hover,
#story_text button:hover {
  color: yellow;
}

#story_text {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

#story_outer_container {
  width: 940px;
  display: flex;
  justify-content: center;
}

#story_container_left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#story_container_right {
  width: 60%;
  display: flex;
  align-items: center;
}

#story_container_right h2 {
  color: black;
  padding-bottom: 15px;
  font-family: Playfair Display;
  font-weight: 100;
}

#story_container_right p {
  color: black;
  font-weight: 200;
}

#story_container_right_inner {
  width: 90%;
}

/* Anh */
#story_video {
  background-image: url("bgk-middle.png");
  background-position: center;
  background-size: cover;
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#central_btr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#central_btr img {
  width: 90px;
  height: 90px;
}
#video_text {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1rem;
}
/*EXPERTISE*/
.line-1 {
  height: 2px;
  width: 80px;
  background: #c3cbd6;
}

#expertise {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#expertise_title {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#expertise_title h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1rem;
}

#expertise_title p {
  text-align: center;
  padding-bottom: 1rem;
}

.expertise_element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c3cbd6;
  border-left: 1px solid #c3cbd6;
  &:nth-child(1) {
    border-left: none;
  }
  &:nth-child(4) {
    border-left: none;
  }
  &:nth-child(4) {
    border-bottom: none;
  }
  &:nth-child(5) {
    border-bottom: none;
  }
  &:nth-child(6) {
    border-bottom: none;
  }
}
.icon,
.text_bold,
.text_normal {
  padding: 1rem;
  text-align: center;
}

.text_bold {
  font-weight: bold;
}

.expertise_area {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-auto-columns: 50px;
  margin-top: 3rem;
  width: 100%;
}

/* Sven */
footer {
  background-image: url("bgk-footer.png");
  background-position: center;
  background-size: cover;
  min-height: 200px;
  padding: 30px 0 30px 0;
  color: #ffffff;
  display: block;
  font-size: 0.8em;
  box-sizing: inherit;
}

footer > .columns-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns-3 > #left,
#middle,
#right {
  margin: 0;
  width: 350px;
  box-sizing: border-box;
  padding: 30px;
}

.columns-3 > #left > #tajam {
  display: flex;
  align-items: flex-start;
}

.columns-3 > #left > #tajam > h2 {
  margin-left: 10px;
  background: -webkit-linear-gradient(#3b9dad, #234b65);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 30px;
}

.columns-3 > #middle {
  display: flex;
  flex-direction: column;
}

.columns-3 > #middle > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 15pt;
}

.columns-3 > #middle > ul {
  list-style-type: none;
}

.columns-3 > #middle > ul > li {
  margin-left: 10px;
}

#address::before {
  content: url("png/big104.png");
  position: relative;
  top: 22px;
  right: 22px;
  display: block;
}

#phone::before {
  content: url("png/phone351.png");
  position: relative;
  top: 22px;
  right: 22px;
  display: block;
}

.columns-3 > #middle,
#right {
  margin-top: 10px;
}

.columns-3 > #right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns-3 > #right #form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 25px 0;
}

.columns-3 > #right > #form > input[type="text"] {
  background: transparent;
  min-width: 200px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
}

.columns-3 > #right > #form > input[type="text"]::placeholder {
  text-align: center;
}

.columns-3 > #right > #links > a {
  margin: 3px;
}

.columns-3 > #right button {
  border: none;
  background: rgba(255, 255, 255, 0.4);
  width: 60px;
  height: 32px;
  display: inline-block;
  margin-left: 10px;
}

footer > #bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("bgk-team.png");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  padding: 30px 0 30px 0;
  text-transform: uppercase;
  color: #ffffff;
}

#team > .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

#team > .heading > p,
#team > p {
  text-transform: none;
}

#team > .roster {
  display: flex;
  margin-bottom: 40px;
}

#team > .roster > .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 20px;

  color: #ffffff;
}

#team > .roster > .member > .image {
  width: 220px;
  height: 230px;
  padding: 0px;
  background-color: white;
}

#team > .roster > .member > figcaption {
  width: calc(100% - 1px);
  border: 1px solid #79778d;
  text-align: center;
}

#team > .roster > .member > figcaption > span {
  font-size: 0.7em;
  color: #cccccc;
}

#team > .heading > hr {
  margin-top: 10px;
  width: 30px;
  border: 1px solid darkgrey;
}
/* Mo */
section #form {
  display: flex;
  justify-content: space-between;
}

form {
  padding: 5px;
}

.small {
  border-style: solid;
  border-width: 1px;
  padding: 6px;
}

#TA {
  padding: 6px;
  resize: none;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

#Baum {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
}

.grid {
  max-height: fit-content;
}

.cap {
  display: flex;
  max-height: fit-content;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
}
