* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/* Phil */

/* Anh */

#story_video {
  position: relative;
}
#story_video img {
  width: 100%;
  height: auto;
}

#central_btr {
  position: absolute;
  top: 0;
  padding-left: 45%;
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#central_btr img {
  width: 90px;
  height: 90px;
}
#video_text {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1rem;
}
.line-1 {
  height: 2px;
  width: 90px;
  background: #c3cbd6;
}

/*EXPERTISE*/
#expertise {
  width: 100%;
  padding: 50px;
}
#expertise_title {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#expertise_title h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1rem;
}

#expertise_title p {
  text-align: center;
  padding-bottom: 1rem;
}

.expertise_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c3cbd6;
  border-left: 1px solid #c3cbd6;
  &:nth-child(1) {
    border-left: none;
  }
  &:nth-child(4) {
    border-left: none;
  }
  &:nth-child(4) {
    border-bottom: none;
  }
  &:nth-child(5) {
    border-bottom: none;
  }
  &:nth-child(6) {
    border-bottom: none;
  }
}
.icon,
.text_bold,
.text_normal {
  padding: 1rem;
  text-align: center;
}

.text_bold {
  font-weight: bold;
}

.expertise_area {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-auto-columns: 50px;
  margin-top: 3rem;
  width: 100%;
}

/* Sven */

/* Mo */
